:root {
  --color-grey-one: #647196;
  --color-grey-two: #f2f4ff;
  --color-grey-three: #f7f8fd;
  --color-white: #ffffff;
  --color-purple: #ad1fea;
  --color-blue-one: #4661e6;
  --color-blue-two: #62bcfa;
  --color-blue-dark-one: #4661e6;
  --color-blue-dark-two: #3a4374;
  --color-red: #d73737;
  --color-orange: #f49f85;

  //hover
  --color-purple-hover: #c75af6;
  --color-red-hover: #e98888;
}
